.jumbotron{
    margin: 0;
    padding: 0;
    min-height: 450px;
    background: url(.././img/bg.jpg) no-repeat center;
}

.jumbotron h3{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.jumbotron .col-md-8{
    width: 60%;
}

.jumbotron .col-md-4{
    width: 40%;
}

#feature-list{
    background: #f4f4f4;
}

#feature-list .container{
    margin-top: 15px;
    height: 250px;
}

.feature-list-item{
    text-align: center;
    color: #2fa4e7;
}

.feature-list-item-desc{
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

