.jumbotron{
    margin: 0;
    padding: 0;
    min-height: 450px;
    background: url(.././img/bg.jpg) no-repeat center;
}

.jumbotron h3{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.jumbotron .col-md-8{
    width: 60%;
}

.jumbotron .col-md-4{
    width: 40%;
}

#feature-list{
    background: #f4f4f4;
}

#feature-list .container{
    margin-top: 15px;
    height: 250px;
}

.feature-list-item{
    text-align: center;
    color: #2fa4e7;
}

.feature-list-item-desc{
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
}


#solgan .col-md-12{
    height: 200px;
    background-color: #e44d26;
    color: #ffffff;
    text-align: center;

}
#solgan .col-md-12 h1{
    color: #ffffff;
    text-transform: uppercase;

}

#business-highlights li{
    list-style: none;
}


#business-highlights h1{
    color: #0f0f0f;
    font-size: 27px;
    text-transform: uppercase;
}


.business-highlights-img{
    height: 100%;
}

#business-highlights .row{
    height: 350px;
}

#business-highlights .col-md-6{
    font-size: 17px;
    color: #0f0f0f;
    width: 50%;
    height: 100%;
}